======================================================
registry=https://europe-npm.pkg.dev/chattermill-245010/cm-npm/
//europe-npm.pkg.dev/chattermill-245010/cm-npm/:_password="eWEyOS5hMEFmSDZTTUQtV3RLc2xOSFJ1cDg5dDJuRENFcFp1X1MwZXM5V1lxUG5sMDIzMDlPUHBoNmJ4WTh0WnplaTlVbWppMmZVOEVxUzNrd2Z2V0VLLU1FanhLV2VuMlY0OVQ0WFBUODRSVTZNamJySzhwQWtEeDN2bXlJS0drZmduaF9lYkpjQzBPdlZvS1hzeTM2bjhGSURIV096OVhTSFpXd0hleFE="
//europe-npm.pkg.dev/chattermill-245010/cm-npm/:username=oauth2accesstoken
//europe-npm.pkg.dev/chattermill-245010/cm-npm/:email=not.valid@email.com
//europe-npm.pkg.dev/chattermill-245010/cm-npm/:always-auth=true
======================================================

