// import the bootstrap variables, on a live system you are better including this file in the bootstrap.less
@import "variables.less"; 

.daterangepicker {	
	@background: lighten(@bodyBackground, 10%);
	position: absolute;
    background: @background;
    top: 100px;
    left: 20px;
    padding: 4px;
    margin-top: 1px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;	
    border-radius: 4px;
	z-index: @zindexModal + 10;

    .dropdown-menu {
        max-width: none;
    }

	&.opensleft {
	    &:before {
            position: absolute;
            top: -7px;
            right: 9px;
            display: inline-block;
            border-right: 7px solid transparent;
			border-bottom: 7px solid #ccc;
            border-left: 7px solid transparent;
			border-bottom-color: rgba(0, 0, 0, 0.2);
            content: '';
        }
		&:after {
            position: absolute;
            top: -6px;
            right: 10px;
            display: inline-block;
            border-right: 6px solid transparent;
			border-bottom: 6px solid @background;
            border-left: 6px solid transparent;
            content: '';
        }
		.ranges, .calendar {
		    float: left;
		    margin: 4px;
		}
    }

	&.opensright {
	    &:before {
            position: absolute;
            top: -7px;
            left: 9px;
            display: inline-block;
            border-right: 7px solid transparent;
            border-bottom: 7px solid #ccc;
            border-left: 7px solid transparent;
            border-bottom-color: rgba(0, 0, 0, 0.2);
            content: '';
        }

        &:after {
            position: absolute;
            top: -6px;
            left: 10px;
            display: inline-block;
            border-right: 6px solid transparent;
            border-bottom: 6px solid @background;
            border-left: 6px solid transparent;
            content: '';
        }
		.ranges, .calendar {
		    float: right;
		    margin: 4px;
		}
    }

	.ranges {
        width: 160px;
        text-align: left;

		label {
            color: @textColor;
            font-size: 11px;
            margin-bottom: 2px;
            text-transform: uppercase;
            text-shadow: 1px 1px 0 darken(@textColor, 40%);
        }

        input {
            font-size: 11px;
        }

        ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        li {
            font-size: 11px;
            background: @background;
            border: 1px solid @background;
            color: @linkColor;
            padding: 3px 12px;
            margin-bottom: 8px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            cursor: pointer;
        }

        .li.active,  li:hover {
            background: lighten(@background, 30%);
            border: 1px solid @linkColor;
            color: @linkColorHover;
        }
    }
	
	.calendar {	
        display: none;
        max-width: 230px;
        border: 1px solid @tableBorder;
        padding: 4px;
        border-radius: 4px;
        background: @tableBackground;

		th, td {
            font-family: @baseFontFamily;  
        }
    }	   

    table {
        width: 100%;
        margin: 0;
		td, th {
            text-align: center;
            width: 20px;
            height: 20px;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
            cursor: pointer;
            white-space: nowrap;
			color: @textColor;
            &.available:hover {
                background: @grayLighter;
            }			
        }

        td.active, td.active:hover {
			@activeBackground: lighten(@background, 60%);
            background-color: @activeBackground;
            background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
            background-image: -ms-linear-gradient(top, #0088cc, #0044cc);
            background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
            background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
            background-image: -o-linear-gradient(top, #0088cc, #0044cc);
            background-image: linear-gradient(top, #0088cc, #0044cc);
            background-repeat: repeat-x;
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088cc', endColorstr='#0044cc', GradientType=0);
            border-color: #0044cc #0044cc #002a80;
            border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
            filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
            color: #fff;
            text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
        }

        td.off {
            color: @grayLight;
        }

        td.disabled {
            color: @grayLight;
        }

		
    }

	

}